<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitylifecycletest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--    程序崩溃    android:theme="@android:style/Theme.Dialog"  &lt;!&ndash; 程序崩溃，让DialogActivity使用对话框主题 &ndash;&gt;-->
<!--   正常     android:theme="@style/Theme.AppCompat.Dialog">  &lt;!&ndash; 让DialogActivity使用对话框主题 &ndash;&gt;-->
        <activity android:name=".DialogActivity"
           android:theme="@style/Theme.AppCompat.Dialog">  <!-- 让DialogActivity使用对话框主题 -->
        </activity>

        <activity android:name=".NormalActivity" > </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>